@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

body {
    font-family: "Raleway", sans-serif, "Noto Sans KR", sans-serif;
    color: #222;
    line-height: 1.5em;
    font-weight: 300;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

a {
    color: #222;
    text-decoration: none;
}

.login {
    width: 800px;
    background-color: #f5f5f5;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 25px;
    box-sizing: border-box;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.211);
}

.login span {
    font-weight: bold;
    display: block;
    margin-top: 20px;
}

.login input[type="email"],
.login input[type="password"] {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: 0.3s;
    padding-left: 50px;
}

.login p {
    /* border: 1px solid red; */
    overflow: hidden;
}

.login p label {
    float: left;
}

.login p a {
    float: right;
}

.login p a:hover {
    text-decoration: underline;
}

.login button {
    background-color: #2991b1;
    color: #fff;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 24px;
    transition: 0.3s;
}

.login button:hover {
    background-color: #257891;
}

.login input[type="email"]:hover,
.login input[type="password"]:hover {
    border: 1px solid dodgerblue;
    box-shadow: 0 0 5px dodgerblue;
}

.login input[type="email"] {
    background: #fff url(./images/icon-email.png) no-repeat center left 10px;
}
.login input[type="password"] {
    background: #fff url(./images/icon-lock.png) no-repeat center left 10px;
}

.login input[type="email"]::placeholder,
.login input[type="password"]::placeholder {
    opacity: 1;
    transition: 0.3s;
}

.login input[type="email"]:focus::placeholder,
.login input[type="password"]:focus::placeholder {
    opacity: 0;
    visibility: hidden;
}
